<!DOCTYPE html>
<html>
<head>
  <title>Perusal</title>
  <%= stylesheet_link_tag    "perusal/application", media: "all" %>
  <%= javascript_include_tag "perusal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
