<!DOCTYPE html>
<html>
<head>
  <title>AutoolPerusal</title>
  <%= stylesheet_link_tag    "autool_perusal/application", media: "all" %>
  <%= javascript_include_tag "autool_perusal/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
